header {
  background-color: #06D6A0;
  padding: 5px;
  text-align: left;
}

ul {
  list-style: none;
}

li  {
  display: list-item;
  margin: 0;
}

.shop-name {
color: white;
margin: 10px;
width: 50%;
}

.nav-item {
margin-right: 10px;
display: inline-block;
}

.navbar {
    width: 40%;
    display: inline-block;
    text-align: right;
}

h1 {
display: inline-block;
}
